<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://aspdotnetmvc120220807200930.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/0e6594c9-dc29-44df-9d17-0f456def8769/resourcegroups/frontendMVC_group/providers/Microsoft.ContainerRegistry/registries/AspDotNetMVC120220807201110</ContainerResourceId>
    <ContainerResourceName>AspDotNetMVC120220807201110</ContainerResourceName>
    <Subscription>Free Trial</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>aspdotnetmvc120220807201110.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/0e6594c9-dc29-44df-9d17-0f456def8769/resourcegroups/frontendMVC_group/providers/Microsoft.Web/sites/AspDotNetMVC120220807200930</ResourceId>
    <ResourceGroup>frontendMVC_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://aspdotnetmvc120220807200930.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>587a39cb-7c9d-49da-bbe7-5a8fd9a90655</ProjectGuid>
  </PropertyGroup>
</Project>