@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Door No 21, G2 Deccan Sri Krishna Aprt,<br />
    14th Street Vinobaji Nagar, Hasthinapuram<br />
    Chennai, Tamil Nadu, India, 600064<br />
    <abbr title="Phone">P:</abbr>
    (+91)-9994131429
</address>

<address>
    <strong>Support:</strong> <a href="mailto:mail3sarathee@gmail.com">mail3sarathee@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:mail3sarathee@gmail.com">mail3sarathee@gmail.com</a>
</address>
