@model forgetemail;
<div class="TabForgotPassDetail form">
    <form action="/Home/ForgetPassword" method="post" class="login-form">
        <div class="form-group loginheader">
            <h1> Forget Password  </h1>
        </div>
        <div class="form-group loginuser">
            <label>Email:</label>
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "loginPwd" } }) *
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="loginbtn">

            <input type="submit" value="ForgetPassword" class="button" />

        </div>
    </form>
</div>